body,
html {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#mypage_modify_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
}

#mypage_modify_title {
  font-size: 40px;
  margin: 28px 0 0 0;
}

.input_box {
  width: 350px;
  height: 60px;
  font-size: 20px;
  margin-top: 28px;
  border: 1px solid #999ca4;
  border-radius: 10px;
  color: #999ca4;
  padding-left: 22px;
  box-sizing: border-box;
}

.input_pw_box {
  width: 350px;
  height: 60px;
  font-size: 20px;
  margin-top: 28px;
  border: 1px solid #999ca4;
  border-radius: 10px;
  color: #999ca4;
  padding-left: 22px;
  box-sizing: border-box;
}

.constraint_message {
  display: inline-block;
  text-align: start;
  margin: 5px 0 0 5px;
}

#pw_usable {
  display: none;
  color: #1d66ff;
}

#pw_unusable {
  display: none;
  color: #e63812;
}

.check_container {
  display: flex;
  justify-content: space-between;
  width: 350px;
  margin-top: 28px;
}

.input_box_small {
  width: 230px;
  height: 60px;
  font-size: 20px;
  border: 1px solid #999ca4;
  border-radius: 10px;
  color: #999ca4;
  padding-left: 22px;
  box-sizing: border-box;
}

.check_btn {
  width: 100px;
  height: 60px;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  background-color: #42b729;
  color: white;
  cursor: pointer;
}

.select_box {
  width: 350px;
  height: 60px;
  font-size: 20px;
  margin-top: 28px;
  border: 1px solid #999ca4;
  border-radius: 10px;
  color: #999ca4;
  padding-left: 22px;
  box-sizing: border-box;
  -webkit-appearance: none;
  background-image: url("../img/down_side.png");
  background-repeat: no-repeat;
  background-position: right 22px center;
  background-size: 24px;
}

#mypage_btn_container {
  display: flex;
  justify-content: space-between;
  width: 350px;
  margin-top: 28px;
}

#register_btn {
  width: 160px;
  height: 60px;
  font-size: 20px;
  border: 1px solid #1d66ff;
  border-radius: 10px;
  background-color: #1d66ff;
  color: white;
}

#cancel_btn {
  width: 160px;
  height: 60px;
  font-size: 20px;
  border: 1px solid #dadde1;
  border-radius: 10px;
  background-color: #dadde1;
}
